<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.buycomputerproduct">
	
	<insert id="putBasketCategory">
		insert into cart (cart_no, p_no, m_id)
		values (seq_cart_no.nextval, #{p_no}, #{m_id})
	</insert>
	
	<select id="getComNoForPercentage" resultType="ComputerVo">
		select c_com_no from computer_product 
		where c_com_name = #{productName}
	</select>
	
	<insert id="pushNumForPercentage">		
		insert into c_product_purchase_percentage (no, c_com_no_ref)
		values (c_purchase_index.nextval, #{c_com_no})
	</insert>
	
	<select id="selectNumForCheck" resultType="int">
		select count(c_com_no_ref) from c_product_purchase_percentage 
		where c_com_no_ref = #{c_com_no}
	</select>
	
	
	
	<select id="selectNumForPercentage" resultType="int">
		select purchase_num from c_product_purchase_percentage 
		where c_com_no_ref = #{c_com_no}
	</select>
	
	<update id="updateNumForPercentage">		
		update c_product_purchase_percentage set
		purchase_num = #{purchase_num} + #{purchase_num_plus}	
	where c_com_no_ref = #{c_com_no}		
	</update>	
	
	<update id="updateTotalNumPlus">		
		update c_total_purchase set
		total = #{purchase_num_plus} + #{select_number}	
		where nok = #{nok}		
	</update>
	
	<select id="selectTotalTable" resultType="int">
		select total from c_total_purchase 
		where nok = #{nok}
	</select>
	
	
	
	
	<select id="selectNumForLike" resultType="int">
		select like_num from c_product_purchase_percentage 
		where c_com_no_ref = #{c_com_no}
	</select>
	
	<update id="updateNumForLike">		
		update c_product_purchase_percentage set
		like_num = #{like_num} + #{like_num_plus}	
	where c_com_no_ref = #{c_com_no}		
	</update>	
	
	<update id="updateTotalNumLikePlus">		
		update c_total_purchase set
		totallike = #{select_number} + #{like_num_plus}
		where nok = #{nok}		
	</update>
	
	<select id="selectTotalTableLike" resultType="int">
		select totallike from c_total_purchase 
		where nok = #{nok}
	</select>
	
	
	
	<insert id="insertProductRef">		
		insert into c_com_comment_table (c_com_comment_no, c_com_comment_content, c_com_comment_writer, c_com_product)
		values (computer_comment_cno.nextval, #{c_com_comment_content}, #{m_id}, #{productName})
	</insert>
</mapper>