<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.map">
	<select id="alterLatLng" resultType="AuctionAddressVo">
		select * from product
		where road_address is not null
	</select>
	
	<select id="sellProductData" resultType="ProductVo">
		select * from product
		where road_address is not null
	</select>
</mapper>