<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.kh.team.sell">
	<update id="registration">
		update member set
    		m_selling = 1,
    		m_selling_regdate = sysdate
		where m_id = #{m_id}
	</update>
	
	<select id="getCategoryList" resultType="CategoryVo">
		select * from category
		where cate_ref = #{cate_ref}
	</select>
	
	<select id="firstCategoryList" resultType="CategoryVo">
		select * from category
		where cate_ref is null
	</select>

	<!-- 가전제품 등록 -->
	<insert id="insertWhitegoods">
		insert into whitegoods(w_no, w_name, w_seller, w_price, cate_no, w_content, w_thumbimg, p_no)
		values (seq_whitegoods_no.nextval, #{w_name}, #{w_seller}, #{w_price}, #{cate_no}, #{w_content}, #{w_thumbimg}, #{p_no})
	</insert>

	<!-- 컴퓨터 입력 -->
	<insert id="computerInsert">
	insert into computer_product(c_com_no, c_com_name, c_com_seller, c_com_price, c_com_cate_no, c_com_content, c_com_pic, p_no)
	values (computer_product_cno.nextval, #{c_com_name}, #{c_com_seller}, #{c_com_price}, #{c_com_cate_no}, #{c_com_content}, #{c_com_pic}, #{p_no})
	</insert>
	
	<!-- furniture 입력 -->
	<insert id="fBedInsert">
	insert into furniture_bed(bed_no, bed_name, cate_no, bed_price, bed_content, bed_seller, bed_thumbimg, p_no)
	values(seq_furniter_interior_no, #{bed_name}, #{cate_no}, #{bed_price}, #{bed_content}, #{bed_seller}, #{bed_thumbimg}, #{p_no})
	</insert>
	
	<insert id="fInteriorInsert">
	insert into furniture_interior(interior_no, interior_name, cate_no, interior_price, interior_content, interior_seller, interior_thumbimg, p_no)
	values(seq_furniter_interior_no.nextval, #{interior_name}, #{cate_no}, #{interior_price}, #{interior_content}, #{interior_seller}, #{interior_thumbimg}, #{p_no})
	</insert>
	
	<insert id="fKitchenInsert">
	insert into furniture_kitchen(kitchen_no, kitchen_name, cate_no, kitchen_price, kitchen_content, kitchen_seller, kitchen_thumbimg, p_no)
	values(seq_furniter_interior_no, #{kitchen_name}, #{cate_no}, #{kitchen_price}, #{kitchen_content}, #{kitchen_seller}, #{kitchen_thumbimg}, #{p_no})
	</insert>
	
	<insert id="fLifeInsert">
	insert into furniture_life(life_no, life_name, cate_no, life_price, life_content, life_seller, life_thumbimg, p_no)
	values(seq_furniter_interior_no, #{life_name}, #{cate_no}, #{life_price}, #{life_content}, #{life_seller}, #{life_thumbimg}, #{p_no})
	</insert>
	
	
	<insert id="insertProduct">
		insert into product(p_no, p_name, cate_no, p_price, p_content, p_seller, p_thumbimg,  p_no2)
		values(#{p_no}, #{p_name}, #{cate_no}, #{p_price}, #{p_content}, #{p_seller}, #{p_thumbimg}, #{p_no2})
	</insert>
	<!-- 상품설명 이미지 등록 -->
	<insert id="productImage">
		insert into product_images(img_no, img_name, p_no)
		values(product_img_no.nextval, #{img_name}, #{p_no})
	</insert>
	
	<!-- 파일명 가져오기 -->
	<select id="getFileNames" resultType="string">
		select img_name from product_image
		where p_no = #{p_no}
	</select>
	
	<!-- pno가져오기 -->
	<select id="getPnoNextVal" resultType="int">
		select seq_product_no.nextval
		from dual
	</select>
	
	<!-- 메시지 보내기 -->
	<insert id="seller_TO_message">
		insert into seller_msg ( msg_no , msg_sender, msg_receiver, msg_productName, msg_content, msg_sendDate)
					values ( seq_msg_no.nextval , #{msg_sender} , #{msg_receiver} , #{msg_productName} , #{msg_content} , sysdate) 	
	</insert>

	<!--받은 메시지 목록 -->	
	<select id="receive_MessageList" resultType="MessageVo">
		select * from seller_msg
		where msg_receiver = #{msg_receiver}
	</select>
	
	<!--보낸 메시지 목록 -->
	<select id="send_MessageList" resultType="MessageVo">
		select * from seller_msg
		where msg_sender = #{msg_sender}
	</select>
	
	<!-- 메시지 컨텐츠 -->
	<select id="messageContent" resultType="MessageVo">
		select * from seller_msg
		where msg_no = #{msg_no}
	</select>
 </mapper>